CrashReporter.NET/Web References/com.drdump/CrashReporterReportUploader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://www.drdump.com/services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CrashReporterReportUploader" targetNamespace="https://www.drdump.com/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="HttpsCrashReporterReportUploader_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://www.drdump.com/services/Imports">
      <xsd:import schemaLocation="http://drdump.com/Service/CrashReporterReportUploader.svc?xsd=xsd0" namespace="https://www.drdump.com/services" />
      <xsd:import schemaLocation="http://drdump.com/Service/CrashReporterReportUploader.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader_SendAnonymousReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAnonymousReport" />
  </wsdl:message>
  <wsdl:message name="IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader_SendAnonymousReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAnonymousReportResponse" />
  </wsdl:message>
  <wsdl:message name="IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader_SendAdditionalData_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAdditionalData" />
  </wsdl:message>
  <wsdl:message name="IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader_SendAdditionalData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAdditionalDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader">
    <wsdl:operation name="SendAnonymousReport">
      <wsdl:input wsaw:Action="https://www.drdump.com/services/IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader/SendAnonymousReport" message="tns:IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader_SendAnonymousReport_InputMessage" />
      <wsdl:output wsaw:Action="https://www.drdump.com/services/IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader/SendAnonymousReportResponse" message="tns:IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader_SendAnonymousReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAdditionalData">
      <wsdl:input wsaw:Action="https://www.drdump.com/services/IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader/SendAdditionalData" message="tns:IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader_SendAdditionalData_InputMessage" />
      <wsdl:output wsaw:Action="https://www.drdump.com/services/IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader/SendAdditionalDataResponse" message="tns:IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader_SendAdditionalData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HttpCrashReporterReportUploader" type="tns:IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendAnonymousReport">
      <soap12:operation soapAction="https://www.drdump.com/services/IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader/SendAnonymousReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAdditionalData">
      <soap12:operation soapAction="https://www.drdump.com/services/IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader/SendAdditionalData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HttpsCrashReporterReportUploader" type="tns:IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader">
    <wsp:PolicyReference URI="#HttpsCrashReporterReportUploader_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendAnonymousReport">
      <soap12:operation soapAction="https://www.drdump.com/services/IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader/SendAnonymousReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAdditionalData">
      <soap12:operation soapAction="https://www.drdump.com/services/IdolSoftware.DoctorDump.CrashReporterGate.CrashReporterReportUploader/SendAdditionalData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrashReporterReportUploader">
    <wsdl:port name="HttpCrashReporterReportUploader" binding="tns:HttpCrashReporterReportUploader">
      <soap12:address location="http://drdump.com/Service/CrashReporterReportUploader.svc" />
    </wsdl:port>
    <wsdl:port name="HttpsCrashReporterReportUploader" binding="tns:HttpsCrashReporterReportUploader">
      <soap12:address location="https://drdump.com/Service/CrashReporterReportUploader.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>